In [2]:
l1 = [1,2,3,4]
print(l1)
print(l1[3])
print(l1[1:2])
print(l1[::-1])

[1, 2, 3, 4]
4
[2]
[4, 3, 2, 1]

In [3]:
print(l1)

[1, 2, 3, 4]

In [4]:
l1.append(5)
l1

[1, 2, 3, 4, 5]

In [5]:
l1.append(254)

In [6]:
l1.append('abc')
l1

[1, 2, 3, 4, 5, 254, 'abc']

In [7]:
l2 = l1.copy()

In [8]:
l2

[1, 2, 3, 4, 5, 254, 'abc']

In [9]:
l1.append(4)

In [10]:
l1.count(4)

2

In [11]:
l1

[1, 2, 3, 4, 5, 254, 'abc', 4]

In [12]:
l2.extend(l1)

In [13]:
l2

[1, 2, 3, 4, 5, 254, 'abc', 1, 2, 3, 4, 5, 254, 'abc', 4]

In [14]:
h1 = ['a','b','c']
h2 = ['1',2,3]
h2.extend(h2)
h2

['1', 2, 3, '1', 2, 3]

In [15]:
h2.extend(h1)

In [16]:
h2

['1', 2, 3, '1', 2, 3, 'a', 'b', 'c']

In [17]:
h2.index('1')

0

In [18]:
h2.insert(6,'8')
h2

['1', 2, 3, '1', 2, 3, '8', 'a', 'b', 'c']

In [19]:
h2.remove('8')

In [20]:
h2

['1', 2, 3, '1', 2, 3, 'a', 'b', 'c']

In [21]:
h2.remove(3)
h2

['1', 2, '1', 2, 3, 'a', 'b', 'c']

In [22]:
h2.reverse()

In [23]:
h2

['c', 'b', 'a', 3, 2, '1', 2, '1']

In [24]:
h3 = [1,3,54,82,12,452,41]
h3

[1, 3, 54, 82, 12, 452, 41]

In [25]:
h3.sort()
h3

[1, 3, 12, 41, 54, 82, 452]

In [26]:
h3.reverse()

In [27]:
h3

[452, 82, 54, 41, 12, 3, 1]

In [28]:
h3.clear()
print(h3)

[]

In [29]:
elect1 = ['cell','laptop','speakers','vegitables']
elect2 = ['cell','laptop','vegitables','alexa']
print(elect1)
print(elect2)

['cell', 'laptop', 'speakers', 'vegitables']
['cell', 'laptop', 'vegitables', 'alexa']

In [30]:
elect1.remove('vegitables')
elect2.remove('vegitables')

In [31]:
print(elect1)
print(elect2)

['cell', 'laptop', 'speakers']
['cell', 'laptop', 'alexa']

In [5]:
def divisible_6(lb,ub):
    for i in range(lb,ub+1):
        if i%6 == 0 and 100%i != 0 :
                print(i,end = ' ')

In [6]:
lb = int(input("enter lower bound: "))
ub = int(input("enter upper bound: "))
divisible_6(lb,ub)

enter lower bound: 1
enter upper bound: 100
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [7]:
def avg_cube_even(lb,ub):
    s = 0
    c = 0
    for i in range(lb,ub+1):
        if i%2==0:
            print(i**3,end = ' ')
            s = s+(i**3)
            c = c+1
    print("\n","average: ",s/c)

In [8]:
lb = int(input("enter lower bound: "))
ub = int(input("enter upper bound: "))
avg_cube_even(lb,ub)

enter lower bound: 1
enter upper bound: 50
8 64 216 512 1000 1728 2744 4096 5832 8000 10648 13824 17576 21952 27000 32768 39304 46656 54872 64000 74088 85184 97336 110592 125000
 average:  33800.0

In [1]:
def list_factor(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end = ' ')

In [2]:
n = int(input("enter no.: "))
list_factor(n)

enter no.: 10
1 2 5 10

In [9]:
def factorial(n):
    fact = 1
    for i in range(n):
        fact = fact*n
        n = n-1
    print(fact)

In [11]:
n = int(input("enter number: "))
factorial(n)

enter number: 5
120

In [58]:
def prime(n):
    if n > 1:
        for i in range(2,n):
            if (n % i) == 0:
                print(n,"is not a prime number")
                break
            else:
                print(n,"is a prime number")
                break
    else:
         print(n,"is not a prime number")

In [59]:
n = int(input("enter number: "))
prime(n)

enter number: 23
23 is a prime number

# **Tuples and Lists**

In [42]:
l = [24,15,36,91,25,6]
print(l)

[24, 15, 36, 91, 25, 6]

In [43]:
print(sum(l))

197

In [46]:
print(min(l))

6

In [47]:
print(max(l))

91

In [49]:
print(sum(l[0::2]))

85

# **Dictionaries**

In [51]:
d = {}
type(d)

dict

In [52]:
d = {'k1':1,'k2':2}

In [53]:
d

{'k1': 1, 'k2': 2}

In [54]:
d2 = d.copy()
d2

{'k1': 1, 'k2': 2}

In [61]:
d3 = {'x','y'}
z = 0,1,5
d3 = dict.fromkeys(d3,z)
print(d3)

{'x': (0, 1, 5), 'y': (0, 1, 5)}

In [62]:
j = d3.get('x')
print(j)

(0, 1, 5)

In [65]:
l = d3.items()
print(l)

dict_items([('x', (0, 1, 5)), ('y', (0, 1, 5))])

In [67]:
for i in l:
    print(i)

('x', (0, 1, 5))
('y', (0, 1, 5))

In [68]:
d3

{'x': (0, 1, 5), 'y': (0, 1, 5)}

In [70]:
d3.keys()

dict_keys(['x', 'y'])

In [71]:
d3.pop('x')

(0, 1, 5)

In [72]:
d3

{'y': (0, 1, 5)}

In [73]:
d3.update()

ValueError: dictionary update sequence element #0 has length 1; 2 is required